gym==0.10.5
imageio==2.8.0
imageio-ffmpeg==0.4.2
matplotlib==3.0.3
numpy==1.14.5
opencv-python==4.2.0.34
pandas==0.25.3
Pillow==7.1.2
pyglet==1.5.11
python-dateutil==2.8.1
python-utils==2.4.0
scipy==1.4.1
seaborn==0.9.1
six==1.15.0
tensorboard==2.2.1
tensorboard-plugin-wit==1.7.0
torch==1.5.0
torchvision==0.6.0
tqdm==4.46.1
